<form
  *ngIf="isLoggedIn"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <section
    class="vh-100"
    style="
      background-color: #95e1d3;
      padding-left: 100px;
      padding-bottom: 240px;
    "
  >
    <div class="container py-5 h-30" style="height: 10px">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div
            class="card"
            style="border-radius: 1rem; background-color: #e3fdfd"
          >
            <div class="row g-0">
              <div class="col-md-6 col-lg-12 d-flex align-items-center">
                <div class="card-body p-4 p-lg-9 text-black">
                  <div class="wrapper">
                    <div class="logo mt-4 name">Application From</div>
                    <div class="p-3 mt-3">
                      <div class="form-field d-flex align-items-center">
                        <div class="logo mr-2 name">
                          <i class="fas fa-stream"></i>
                        </div>
                        <input
                          type="text"
                          [(ngModel)]="application.job_description"
                          required
                          name="customer"
                          #job_description="ngModel"
                          placeholder="Enter the job Description"
                        />
                        <div
                          class="alert alert-danger"
                          role="alert"
                          *ngIf="job_description.errors && f.submitted"
                        >
                          Enter Description!
                        </div>
                      </div>

                      <div class="form-field d-flex align-items-center">
                        <div class="logo mr-2 name">
                          <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <input
                          type="text"
                          [(ngModel)]="application.job_location"
                          required
                          name="customer"
                          #job_location="ngModel"
                          placeholder="Enter job location"
                        />
                        <div
                          class="alert alert-danger"
                          role="alert"
                          *ngIf="job_location.errors && f.submitted"
                        >
                          Enter Location!
                        </div>
                      </div>

                      <div class="form-field d-flex align-items-center">
                        <div class="logo mr-3 name"><small>From</small></div>
                        <input
                          type="date"
                          [(ngModel)]="application.from_date"
                          required
                          name="customer"
                          #from_date="ngModel"
                          placeholder="Enter from date"
                        />
                        <div
                          class="alert alert-danger"
                          role="alert"
                          *ngIf="from_date.errors && f.submitted"
                        >
                          Enter FromDate!
                        </div>
                      </div>
                      <div class="form-field d-flex align-items-center">
                        <div class="logo mr-3 name"><small>To</small></div>
                        <input
                          type="date"
                          [(ngModel)]="application.to_date"
                          required
                          name="customer"
                          #to_date="ngModel"
                          placeholder="Enter to date"
                        />
                        <div
                          class="alert alert-danger"
                          role="alert"
                          *ngIf="to_date.errors && f.submitted"
                        >
                          Enter ToDate!
                        </div>
                      </div>
                      <div class="form-field d-flex align-items-center">
                        <div class="logo mr-2 name">
                          <i class="fa fa-rupee" style="font-size: 24px"></i>
                        </div>
                        <input
                          type="text"
                          [(ngModel)]="application.wage_per_day"
                          required
                          name="customer"
                          #wage_per_day="ngModel"
                          placeholder="Enter wage per day"
                        />
                        <div
                          class="alert alert-danger"
                          role="alert"
                          *ngIf="wage_per_day.errors && f.submitted"
                        >
                          Enter Wage!
                        </div>
                      </div>
                      <div class="form-field d-flex align-items-center">
                        <div class="logo mr-2 name">
                          <i
                            class="fa fa-address-card"
                            style="font-size: 24px"
                          ></i>
                        </div>
                        <input
                          type="text"
                          [(ngModel)]="application.address"
                          required
                          name="customer"
                          #address="ngModel"
                          placeholder="Address"
                        />
                      </div>
                      <div class="form-field d-flex align-items-center">
                        <div class="logo mr-2 name">
                          <i class="" style="font-size: 24px"></i>
                        </div>
                        <input
                          type="text"
                          [(ngModel)]="application.experience"
                          required
                          name="customer"
                          #experience="ngModel"
                          placeholder="Experience"
                        />
                      </div>
                      <div class="form-field d-flex align-items-center">
                        <div class="logo mr-2 name">
                          <i class="bi bi-telephone-plus-fill"></i>
                        </div>
                        <input
                          type="text"
                          maxlength="10"
                          [(ngModel)]="application.phone_number"
                          required
                          name="customer"
                          #phone_number="ngModel"
                          placeholder="Enter the phone number"
                        />
                        <div
                          class="alert alert-danger"
                          role="alert"
                          *ngIf="phone_number.errors && f.submitted"
                        >
                          Enter valid Phone number!
                        </div>
                      </div>
                      <button class="btn mt-8" type="submit">Apply Job</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
