<div class="container" id="contain">
  <div class="row">
    <ng-container *ngFor="let i of application1">
    <div class="card text-center  col-md-3"  style="width: 25rem;">
    <ul class="list-group list-group-flush">

      <li class="list-group-item"><b>Username</b> <br>
        {{i.username}}
      </li>
      <li class="list-group-item"><b>Full Name</b> <br>
        {{i.name}}
    </li>
      <li class="list-group-item"><b>Age</b> <br>
        {{i.age}}
    </li>
        <li class="list-group-item"><b>Date Of Birth</b> <br>
          {{i.dob}}
        </li>
      <li class="list-group-item"><b>Phone Number</b>
        {{i.phone_number}}
            </li>
        <li class="list-group-item"><b>Address</b> <br>
          {{i.address}}
    </li>
      <li class="list-group-item"><b>Nationality</b> <br>
        {{i.nationality}}
    </li>
    <li class="list-group-item"><b>Experience</b> <br>
      {{i.experience}}
    </li>
    <li class="list-group-item"><b>verification_id</b> <br>
      {{i.verification_id}}
    </li>
    <li class="list-group-item"><b>Address</b> <br>
      {{i.address}}
    </li>


    </ul>
    <div class="card-body">
        <button  id="apply"   data-bs-toggle="modal" data-bs-target="#exampleModal">
        </button>
    </div>
</div>
</ng-container>
</div>
</div>