<!--<div class="btn-group pull-right">
  <div class="btn-group">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-filter"></i>
        Filter
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
          <li><a type="button"  class="dropdown-item btn btn-success" (click)="onclickapplied()" >Applied Jobs</a></li>
      </ul>
    </div>
</div>-->

 <!-- <div class="container" id="contain">
  <div class="row">

      <ng-container *ngFor="let ajb of jjobCard">
          <div class="card text-center  col-md-3"  style="width: 25rem;">
            <ul class="list-group list-group-flush">
  
              <li class="list-group-item"><b>Job ID</b> <br>
                {{ajb.id}}
            </li>
              <li class="list-group-item"><b>Job Description</b> <br>
                {{ajb.job_description}}
            </li>
              <li class="list-group-item"><b>Experience</b> <br>
                {{ajb.experience}}
            </li>
                <li class="list-group-item"><b>Wages</b> <br>
                   {{ajb.wage_per_day}}
                </li>
              <li class="list-group-item"><b>From date:</b> {{ajb.from_date}} <br>
                    <b>To date:</b> {{ajb.to_date}}</li>
                <li class="list-group-item"><b>Address</b> <br>
                  {{ajb.address}}
            </li>
              <li class="list-group-item"><b>Phone number</b> <br>
                {{ajb.phone_number}}
                
            </li> 
            </ul>
           
        </div>
      </ng-container>
      </div>
      </div>   -->

<!-- 
<div class="container" id="contain">
  <div class="row">
    <ng-container *ngFor="let i of jjobCard">
    <div class="card text-center  col-md-3"  style="width: 25rem;">
    <ul class="list-group list-group-flush">

      <li class="list-group-item"><b>Username</b> <br>
        
      </li>
      <li class="list-group-item"><b>Full Name</b> <br>
        {{i.name}}
    </li>
      <li class="list-group-item"><b>Age</b> <br>
        {{i.age}}
    </li>
        <li class="list-group-item"><b>Date Of Birth</b> <br>
          {{i.dob}}
        </li>
      <li class="list-group-item"><b>Phone Number</b>
        {{i.phone_number}}
            </li>
        <li class="list-group-item"><b>Address</b> <br>
          {{i.address}}
    </li>
      <li class="list-group-item"><b>Nationality</b> <br>
        {{i.nationality}}
    </li>
    <li class="list-group-item"><b>Experience</b> <br>
      {{i.experience}}
    </li>
    <li class="list-group-item"><b>verification_id</b> <br>
      {{i.verification_id}}
    </li>
    <li class="list-group-item"><b>Address</b> <br>
      {{i.address}}
    </li>


    </ul>
    <div class="card-body">
        <button  id="apply"   data-bs-toggle="modal" data-bs-target="#exampleModal">
        </button>
    </div>
</div>
</ng-container>
</div>
</div>  -->




      



