/************************
Css orignal https://codepen.io/jlalovi/details/bIyAr
************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
body {
	background: #1f253d;
}




/*****************************
USO NÚMEROS MÁGICOS EN ALGUNOS VALORES
POR NO PARARME A ESTUDIAR A FONDO
EL CSS DEL PEN ORIGINAL
*****************************/

/* .container{
    margin: 10px;
} */
body{
  background-color: #9eb9a7;
}

.card{
  background-color: #e1ece5;
  padding: 20px;
  margin: 20px;
  border-radius: 1em;
}
.bi{
  color: rgb(0, 0, 11);
}
.card:hover{
  transform: scale(1.05);
  /* box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
}
.list-group-item{
  background-color: #e1ece5;
}
a{
  text-decoration: none;
}
.card-link{
  border-radius: 8px;
  padding: 10px;
  background-color: green;
  color: white;
}
#edit {
  border-radius: 5px;
  padding: 5px 10px;
}
#delete{
  border-radius: 5px;
  padding: 5px 10px;
  margin: 8px;
}
#form_{
  display: none;
}
#apply{
    border-radius: 8px;
  padding: 7px 16px;
  background-color: green;
  color: white;
}


/* form style */

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
  color: #555
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 4s0px;
  background-color: #03A9F4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px
}

.wrapper .btn:hover {
  background-color: #039BE5
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03A9F4
}